@import '~antd/dist/antd.css';


.calendar-box{
    opacity: 0.8;
}

.calendar-box:hover{
    opacity: 1
}

.calendar-box:active:{
    opacity: 1;
}

.ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel{
    background: #fafcff
}

.bright{
    filter: brightness(110%) drop-shadow(rgba(215, 167, 161, 0.8) 0px 0px 10px)
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}